@tailwind base;
@tailwind components;
@tailwind utilities;


.About {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .About::-webkit-scrollbar {
    display: none;
}